<section class="skill-list">
  <div class="col-md-3 col-md-offset-2">
    <h1>Expert on</h1>
    {{#if editingSkills}}
      <a {{action "turnOffEditableSkills"}} class="action-item" href="#"><i class="icon-ok"></i> Done</a>
    {{else}}
      <a {{action "turnOnEditableSkills"}} class="action-item" href="#">Edit</a>
    {{/if}}
  </div>
  <div class="col-md-5">
    <ul>
      {{#each skill in person.skill_list}}
        <li class="editable editing">
          {{ skill }}
          {{#if editingSkills}}
            <a {{action "destroy" skill target=view}} href="#" class="destroy"><i class="icon-remove"></i></a>
          {{/if}}
        </li>
      {{else}}
        {{#unless editingSkills}}
          <li class="no-results">Please tell us what your skills are. You can start adding skill by <a {{action "turnOnEditableSkills"}} href="#">clicking here</a>.</li>
        {{/unless}}
      {{/each}}
    </ul>

    {{#if editingSkills}}
      <form class="profile-new-expertise" role="form">
        <div class="form-group">
          <label {{bindAttr for="view.newPersonSkill.elementId"}}>Find new skills</label>
          {{view Ember.Select
            viewName="newSkill"
            contentBinding="skills"
            valueBinding="personData.newSkill"
            prompr="-- Select a skill --"
            class="form-control"}}
        </div>
      </form>
    {{/if}}
  </div>
</section>
