<section class="profile-section skill-list">
  <div class="col-md-3 col-md-offset-2">
    <h1>Expert on</h1>
    {{#if view.editingSkills}}
      <a {{action "turnOffEditableSkills" target=view}} class="action-item" href="#"><i class="icon-ok"></i> Done</a>
    {{else}}
      <a {{action "turnOnEditableSkills" target=view}} class="action-item" href="#">Edit</a>
    {{/if}}
  </div>
  <div class="col-md-5">

    <form class="profile-new-expertise hidden" role="form" {{bindAttr class="view.editingSkills:visible:hidden"}}>
      <div class="form-group">
        <input type="hidden" id="inputSkills" style="width: 100%" />
      </div>
    </form>

    <ul class="user-skills" {{bindAttr class="view.editingSkills:hidden:visible"}}>
      {{#each skill in person.skill_list}}
        <li class="editable editing">
          {{ skill }}
        </li>
      {{else}}
        <li class="no-results">Please tell us what your skills are. You can start adding skill by
          <a {{action "turnOnEditableSkills" target=view}} href="#">clicking here</a>.
        </li>
      {{/each}}
    </ul>
  </div>
</section>
