<div id="edit_profile_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">

        <!-- Form should be extracted -->
        <form class="profile-form" role="form">
          <section>
            <h1>About you</h1>
            <div class="form-group">
              <label {{bindAttr for="view.personTitle.elementId"}}>Your title</label>
              {{input viewName="personTitle" value=personData.title placeholder="Enter your title" class="form-control"}}
            </div>
            <div class="form-group">
              <label {{bindAttr for="view.personBio.elementId"}}>Your short bio</label>
              {{textarea viewName="personBio" value=personData.bio placeholder="Enter your short Bio" class="form-control"}}
            </div>
          </section>

          <section>
            <h1>Links</h1>
            <div class="form-group">
              <label {{bindAttr for="view.personWebsite.elementId"}}>Personal website</label>
              {{input viewName="personWebsite" value=personData.website placeholder="Enter your personal website" class="form-control"}}
            </div>
            <div class="form-group">
              <label {{bindAttr for="view.personGithub.elementId"}}>Github account</label>
              {{input viewName="personGithub" value=personData.github placeholder="Enter your Github account" class="form-control"}}
            </div>
            <div class="form-group">
              <label {{bindAttr for="view.personTwitter.elementId"}}>Twitter account</label>
              <div class="input-group">
                <span class="input-group-addon">@</span>
                {{input viewName="personTwitter" value=personData.twitter placeholder="Enter your Twitter account" class="form-control"}}
              </div>
            </div>
          </section>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action 'save' target=view}}>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
