<div class="container">
  <div class="row">
    <div class="profile-details">
      <div class="col-md-3 col-md-offset-2">
        {{#if person.image_url}}
          <img src="{{person.image_url}}" />
        {{else}}
          <img src="/app/img/neo.jpeg" />
        {{/if}}
        <h1>{{person.name}} {{#if editable}}<a data-toggle="modal" href="#edit_profile_modal" class='action-item'>Edit</a>{{/if}}</h1>
        <h2>{{person.title}}</h2>
        <h3><i class="icon-map-marker"></i> {{person.office.name}}</h3>
      </div>
      <div class="col-md-5">
        {{#if person.bio}}
          <p>{{person.bio}}</p>
        {{else}}
          <p class="no-bio">You don't have a bio. <a data-toggle="modal" href="#edit_profile_modal">Click here</a> and write one.</p>
        {{/if}}
        <ul>
          <li><a {{bindAttr href="emailLink"}}><i class="icon-inbox"></i> {{person.email}}</a></li>
          {{#if person.github}}
            <li><a {{bindAttr href="githubLink"}}><i class="icon-github"></i> {{person.github}}</a></li>
          {{/if}}
          {{#if person.twitter}}
            <li><a {{bindAttr href="twitterLink"}}><i class="icon-twitter"></i> {{person.twitter}}</a></li>
          {{/if}}
          {{#if person.website}}
            <li><a {{bindAttr href="person.website"}}><i class="icon-globe"></i> {{person.website}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
    {{view App.EditableSkillList}}
  </div>
</div>
{{view App.EditProfileModalView}}
