<li>
  {{#linkTo 'neon' person}}
    <img src="/app/img/neo.jpeg" />
  {{/linkTo}}
  <ul class="social">
    <li><a {{bindAttr href="view.emailUrl"}}><i class="icon-inbox"></i></a></li>
    {{#if person.website}}
    <li><a {{bindAttr href="view.websiteUrl"}}><i class="icon-globe"></i></a></li>
    {{/if}}
    {{#if person.twitter}}
    <li><a {{bindAttr href="view.twitterUrl"}}><i class="icon-twitter"></i></a></li>
    {{/if}}
    {{#if person.github}}
    <li><a {{bindAttr href="view.githubUrl"}}><i class="icon-github"></i></a></li>
    {{/if}}
  </ul>
  <p class="skills">{{view.commaSeparatedSkills}}</p>
  <h2>{{#linkTo 'neon' person}}{{person.name}}{{/linkTo}}</h2>
  <p class="office"><i class="icon-map-marker"></i> {{person.office.name}}</p>
</li>
