<section class="profile-section similar-people-list">
  <div class="col-md-3 col-md-offset-2">
    <h1>Similar to you</h1>
  </div>
  <div class="col-md-5">

    <ul {{bindAttr class="view.editingSkills:hidden:visible"}}>
      {{#each similar_person in person.similar_people}}
        <li>
          <img src="/app/img/neo.jpeg" />
          <h2>{{similar_person.name}}</h2>
          <p><i class="icon-map-marker"></i> {{similar_person.office_name}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
