.filter {
  padding: 50px 20px 60px 20px;
  text-align: center;
}

.filter-text {
  display: inline-block;
  margin: 0;
  color: #444;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

@media (min-width: 650px) {
  .filter-text {
    font-size: 38px;
  }
}
