$header-height: 44px;

nav {
  float: right;
  color: #fff;

  .selected-application {
    color: $blue;
  }

  a {
    position: relative;
    float: left;
    display: block;
    padding: 0 20px;
    height: $header-height;
    color: #888;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025rem;
    line-height: $header-height;
    text-decoration: none;
  }
}

.user-actions {
  margin: 10px 3px 0 0;
  float: right;
}

.global-logout, .global-settings {
  i { font-size: 44px; }
}

.global-header {
  height: $header-height;
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    padding: 11px 0 0 20px;

    svg { width: 27px; }
  }
}


.date-timeline {
  height: 32px;
}

.office-select, .project-person-toggle {
  margin: 0 8px 0 0;
  float: left;

  i {
    position: relative;
    top: 1px;
  }
}

i {
  line-height: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-family: entypo;
}

button, select {
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;

  i { margin: 0 0 0 5px; }

  &.white-button {
    color: #777;
    background: #fff;

    &:active { background: #eee; }
  }
}

.dummy-project {
  min-height: 42px;
}
