.search-and-new {
  margin-bottom: 2rem;
  @include display(flex);
  padding: 0 30px 3px 30px;
}

.search-and-new--input-container {
  @include flex-grow(1);
  border-bottom: 1px solid #ddd;
  padding: 0 5px;

  svg  {
    float: left;
    width: 32px;
    margin-right: 4px;
    @include transform(translateY(-1px));
  }

  path { fill: gray; }
}

.search-and-new--input {
  width: calc(100% - 40px);
  margin: 0;
  border: none;
  color: #777;
  font-size: 24px;
  font-weight: 300;
  background: transparent;
  -webkit-appearance: none;

  &:focus { outline: none; }
}

.search-and-new--add-button {
  margin-right: 40px;
  border-bottom: 1px solid #ddd;
  padding: 0 5px;
  color: #aaa;
  font-size: 24px;
  font-weight: 300;
  background: transparent;
  cursor: pointer;

  svg  {
    float: left;
    width: 36px;
    @include transform(translateY(-7px));
  }
  path { fill: #999; }

  span {
    display: none;
    margin-left: 10px;
  }
}

@media (min-width: 610px) {
  .search-and-new--add-button span {
    display: inline;
  }
}


.people-list {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  padding: 0 20px;

  .person-card {
    width: 24%;
    min-width: 275px;
    max-width: 300px;
    margin: 0 5px 20px 5px;
  }
}

.people-list-no-results {
  width: 300px;
  margin: 0 auto;
  text-align: center;

  svg {
    width: 300px;

    path { fill: #ccc; }
  }
}

.person-card--edit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 11px 12px 10px 15px;

  svg { width: 25px; }
  svg path { fill: #999; }
  &:hover svg path { fill: #666; }
}
