@import bourbon/bourbon
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
@import colors
@import new-nav

+font-face(entypo, '/webfonts/entypo')
+font-face(entypo-social, '/webfonts/entypo-social')

*
  box-sizing: border-box

@mixin black-font
  font-family: "Montserrat", sans-serif
  font-weight: 700

@mixin regular-font
  font-family: "Montserrat", sans-serif
  font-weight: 400

@mixin corners
  border-radius: 2px

html,body
  background: $white
  font-family: "Montserrat", sans-serif
  margin: 0
  padding: 0
  min-height: 100%

h1
  font-size: 36px

h2
  font-size: 28px

p
  font-size: 16px

a
  text-decoration: none

button
  margin: 0

header
  +clearfix

i
  font-family: "entypo"

i.social
  font-family: "entypo-social"

.navigation-frame
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 99
  width: 48px

#content
  +clearfix
  width: 100%

.container, .people-container
  margin: auto
  max-width: 1024px
  width: 96%
  +clearfix

.header
  +clearfix
  text-align: center
  padding: 60px 20px 20px
  margin: 0 auto 40px
  border-bottom: 2px solid gray

  h2
    display: inline-block
    font-size: 40px
    color: gray
    margin: 0

.filter

  select
    -webkit-appearance: none
    border: 0
    background: $green
    padding: 10px 5px
    color: $white

// Search

.search
  +clearfix
  float: right

  label
    display: none

  input
    +corners
    margin: 0
    font-size: 16px
    padding: 5px
    display: block
    width: 200px
    color: $dark-gray
    border: 2px solid $blue

    &:focus
      outline: none

.person-icon, .magnify
  +clearfix
  float: right
  position: relative

  i
    position: relative
    font-size: 42px

.person-icon
  color: $dark-gray
  margin: 0 5px 0 0
  top: 13px

.magnify
  margin: 0 10px 0 0
  +size(32px)
  right: 3px
  background: $blue

  i
    color: $white
    top: 13px
    left: 5px

.profile .header
  +clearfix
  text-align: left

//filter stytling

.select-office, .select-role, .select-project
  color: $white
  cursor: pointer
  margin: 0 5px 5px 5px
  padding: 3px 5px

  .options
    +clearfix
    list-style-type: none
    position: absolute
    z-index: 2
    color: green
    top: 341px
    text-align: left
    border: 2px solid gray
    width: 47%
    left: 521px
    background: $white
    margin: 0
    padding: 10px 10px 5px 10px

  .option
    +corners
    padding: 5px
    margin: 0 0 5px 0
    +transition(all, .2s)

    &:hover
      color: $white

  .selected
    color: $white

.select-office
  background: $green

  .options
    color: $green

  .option:hover
    background: $green

  .selected
    background: $green

.select-role
  background: $blue

  .options
    color: $blue

  .option:hover
    background: $blue

  .selected
    background: $blue

.select-project
  background: $red

  .options
    color: $red

  .option:hover
    background: $red

  .selected
    background: $red


.filter-options
  margin: 0 0 20px 0

.reset, .confirm-choice, .filter-options
  +clearfix
  text-align: center

  p
    position: relative
    margin: 0

.reset, .confirm-choice
  +corners
  height: 60px
  border: 2px solid
  +transition(all, .2s)



  &:hover
    background: $light-gray

  span, p
    margin: 0
    display: inline

.reset
  +clearfix
  float: right
  padding: 5px 5px 5px 8px

  span
    position: relative
    bottom: 7px

  p
    bottom: 12px

.confirm-choice
  float: left
  padding: 5px 8px 5px 5px

  span
    top: 10px

  p
    bottom: 10px

// Person Card Styling

.person-card

  .social-info
    +clearfix
    position: absolute
    bottom: 50px
    left: 0
    width: 100%
    height: 20px

  .email, .twitter, .github
    text-align: center
    color: gray
    cursor: pointer
    float: left
    width: 33%

    a
      color: gray

    i
      +transition(all, .3s)
      font-size: 55px

      &:hover
        font-size: 65px

      &.placeholder
        color: $mid-gray
        cursor: not-allowed

        &:hover
          font-size: 55px
          color: $mid-gray

  .email
    i:hover
      color: white
      text-shadow: -1px -1px 0 $mid-gray, 1px -1px 0 $mid-gray, -1px 1px 0 $mid-gray, 1px 1px 0 $mid-gray

  .twitter
    i:hover
      color: #4099ff

  .github
    i:hover
      color: black


// Edit profile/People Card styling

.person-card, .edit-card
  +clearfix
  position: relative
  height: 600px
  letter-spacing: .5px
  padding: 10px
  +corners
  width: 24.25%
  float: left
  margin: 0 10px 10px 0
  background: $light-gray

  &:nth-child(4n+3)
    margin: 0 0 10px 0

.edit-card
  width: 33%
  padding: 40px
  margin: 0 auto 40px
  float: none
  height: auto

  label
    display: none

  input
    +corners
    float: right
    width: 100%
    padding: 5px
    color: gray
    border: 1px inset
    font-size: 18px
    display: block
    text-align: center
    margin: 0 auto 10px

    &:focus
      outline: none

.edit-name
  margin: 0 auto 20px

  input
    font-size: 18px
    float: none

.name
  +black-font
  font-size: 20px
  color: black
  text-align: center
  margin: 30px 0 20px

  a
    color: black

  &:visited, &:active
    color: black

.picture
  margin: 0 auto 20px
  +size(150px)
  border-radius: 50%
  overflow: hidden
  border: 4px solid $white

  img
    +size(150px)

.avatar-picker
  +corners
  +size(150 40)
  cursor: pointer
  color: $white
  margin: 10px auto 20px
  background: $orange2

  input[type="file"]
    cursor: pointer
    position: absolute
    opacity: 0

  label
    +black-font
    position: relative
    top: 12px
    cursor: pointer
    display: block
    text-align: center

.role, .office, .current-project, .edit-role
  +corners
  +clearfix
  +black-font
  font-size: 18px
  text-align: center
  margin: 10px auto 20px
  padding: 10px
  display: table
  color: $white


.role, .edit-role
  background: $blue

.edit-role
  padding: 5px

  label
    display: block
    margin: 0 0 5px 0

  input
    +black-font
    border: none
    position: relative
    color: $blue
    margin: 0

    +placeholder
      color: $white

.office
  background: $green

.project
  +black-font
  margin: 10px auto 10px
  color: gray
  text-align: center

.current-project
  background: $red

.start-date, .end-date
  +clearfix

  label
    position: relative
    top: 7px
    font-size: 16px
    display: block
    float: left

  input.date
    width: 67%

.profile-options
  position: absolute
  bottom: 0
  left: 0
  width: 100%

.edit-profile
  position: absolute
  bottom: 10px
  right: 75px

  i
    position: relative
    top: 1px
    font-size: 30px

  a
    color: gray

.info
  +clearfix

  input
    text-align: left
    width: 85%

    &:focus~i
      font-size: 60px

  .edit-email input

    &:focus~i
      color: white
      text-shadow: -1px -1px 0 $mid-gray, 1px -1px 0 $mid-gray, -1px 1px 0 $mid-gray, 1px 1px 0 $mid-gray

  .edit-twitter input

    &:focus~i
      color: #4099ff

  .edit-github input

    &:focus~i
      color: black

  i
    color: gray
    font-size: 44px
    position: relative
    top: 15px
    +transition(font-size, .2s)

  i, label
    float: left

.unsellable
  +clearfix

  label
    margin: 10px 0 20px
    float: left
    font-size: 20px
    display: block

  input
    margin: 10px 0 20px
    width: auto
    float: right

.return-button, .confirm-button
  +black-font
  font-size: 22px
  border: none
  margin: 20px 0
  text-shadow: none
  color: $dark-gray


  i
    top: 3px
    font-size: 50px
    position: relative
    margin: 0

.confirm-button
  cursor: pointer
  width: 70%

  &:hover
    color: $green

.return-button
  margin: 0 auto 0

  &:hover
    color: $red

  i
    top: 4px

  a
    color: $dark-gray

    &:visited, &:active, &:focus
      color: $dark-gray

  &:hover a
    color: $red

// Profile Styling

.profile-container
  width: 100%
  padding: 0 0 0 0

.profile
  +clearfix

  .person-card
    margin: 0
    padding: 0 40px 20px
    background: $white

  .role, .office
    font-size: 26px
    padding: 0
    background: $white

  .role
    margin-bottom: 0
    color: gray

  .office
    margin: 5px auto 40px
    color: $dark-gray

  .start-date
    color: $dark-gray

  .info i
    +clearfix
    color: $dark-gray
    font-size: 60px
    position: relative
    float: left
    top: 31px
    left: 0

    &.email-icon
      top: 41px

  .twitter, .github, .email
    font-size: 22px
    position: relative
    left: 40px
    color: gray
    float: left
    text-align: left

  .return-button
    float: left

.about
  +clearfix
  float: left
  width: 30%

.profile-name, .profile-project
  +black-font
  padding: 5px
  background: $blue
  color: $white

li.selected
  color: red
