@import "profile-summary";
@import "profile-details";
@import "skill-list";

html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Open Sans';
  background: url(/app/img/wavegrid.png);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Antic Slab';
}

.container {
  background: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}