.profile-details {
  float: left;
  width: 100%;
  margin-bottom: 3rem;
  padding-bottom: 5rem;
  border-bottom: 0.5rem dotted #f0f0f0;

  p {
    font-size: 2rem;
    position: relative;
    position: relative;
    margin: 0 0 3rem 0;

    &:after {
      position: absolute;
      right: -1rem;
      bottom: 0;
      font-family: FontAwesome;
      content: "\f10e";
      font-size: 3rem;
      margin-right: 0.7rem;
      color: #c0c0c0;
    }
  }
  img {
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  h1 {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
  }
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    color: #909090;
  }
  h3 {
    font-size: 1.2rem;

    i {
      margin: 0 0.3rem 0 0;
    }
  }
  ul {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;

    li {
      margin: 0 2rem 1.5rem 0;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    a {
      color: #505050;
      position: relative;
      padding-left: 3rem;
      text-decoration: none;
      transition: all 0.5s;
      -moz-transition: all 0.5s;

      &:hover {
        color: #c1d72e;
      }
    }
    i {
      position: absolute;
      left: 0;
      top: 0;
      width: 1.5rem;
      text-align: center;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}