.skill-search {
  .sidebar {
    select, .select2-container {
      margin: 0 0 1rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #606060;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      font-size: 1.4rem;
      line-height: 2rem;
      margin: -0.5rem 0 1rem;

      &:first-of-type {
        margin-top: 0;
      }
      a {
        float: left;
        margin-right: 1rem;
        color: #434750;
        text-decoration: none;
      }
    }
  }
  .list {
    a {
      text-decoration: none;
    }
    h1 {
      margin: 0 0 1rem;
      font-size: 2rem;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      float: left;
      width: 25%;
      padding: 1rem;
      min-width: 10rem;
    }
    li:hover {
      background: #f9f9f9;
    }
    img {
      width: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    h2, p {
      margin: 0;
      line-height: 2rem;
    }
    h2 {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2rem;
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      height: 4rem;
      color: #505050;
    }
    p {
      font-size: 1.3rem;
      color: #505050;
      white-space: nowrap;

      i {
        margin-right: 0.3rem;
      }
    }
  }
}
