.skill-list {
  float: left;
  width: 100%;
  margin-bottom: 3rem;

  h1 {
    font-size: 2.5rem;
    line-height: 5rem;
    border-bottom: 0.1rem dotted #e0e0e0;
    margin: 0 0 2rem;
  }
  ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 2rem;
    list-style: none;
  }
  li {
    float: left;
    margin: 0 1rem 0 0;
    background: #c1d72e;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: #fff;
    padding: 0 1rem;
    border: solid #90c40b;
    border-width: 0 0.1rem 0.1rem 0;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      color: #c1d72e;
      background: #434750;
    }
  }
  aside {
    float: left;
    width: 100%;

    h2 {
      float: left;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: 'Open Sans';
      line-height: 3rem;
      margin: 0 1.2rem 0 0;
      color: #434750;

      &:after {
        content: ":";
      }
    }
    ul {
      float: left;
      width: auto;
    }
    li {
      float: left;
      margin: 0 0.5rem 0 0;
      padding: 0;
      border: 0;
      background: 0;
    }
    img {
      display: block;
      width: 3rem;
      height: 3rem;
    }
  }
}