{{#each topLinks as |link|}}
  <a href={{unbound link.url}} class={{unbound link.classes}} title={{unbound link.link_text}}>
    {{unbound link.title}}
  </a>
{{/each}}

<a href="/#/sign_out">Sign Out</a>
